body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #4f5d75;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

input {
    all: unset;
}

.page__title {
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans';
    color: #ffffff;
}

.calculator {
    background-color: #ef8354;

    padding: 10px 20px;
    width: 30vw;
    height: 60vh;

    border-radius: 5px;
}

.calculator__display {
    font-size: 26px;
    text-align: center;

    padding: 15px 20px;

    background-color: #f1faeb;

    border-radius: 5px;
}

.calculator__display:hover {
    box-shadow: 0 4px rgba(0,0,0,0.2);
}

.calculator__rows {
    display: flex;
    gap: 5vh;
    flex-direction: column;

    margin-top: 5vh;
}

.row__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator__button {
    font-size: 20px;
    text-align: center;

    width: 60px;
    height: 50px;

    color: #2d3142;
    background-color: #ffffff;

    border-radius: 5px;
    box-shadow: 0 4px rgba(0,0,0,0.2);

    cursor: pointer;
}

.calculator__button:hover {
    color: #495069;
    background-color: #BFC0C0;
    box-shadow: 0 4px #BFb0b0;
}

.--operator {
    background-color: #f1ff92;    
}

.--operator:hover {
    background-color: #e7f56b;
    box-shadow: 0 4px #b7c259;
}

.--clear {
    background-color: #ff9fa8;
}

.--clear:hover {
    background-color: #f297a0;
    box-shadow: 0 4px #cc7f86;
}